div {
  display: flex;
  flex-direction: column;
}
div.rows {
  flex-direction: row;
}
div.cell {
  border: 2px solid black;
  height: 30px;
  width: 30px;
}

div.main {
  margin: auto;
  width: fit-content;
  align-content: center;
  justify-content: center;
  border: 2px solid black;
}

.zarai{
  z-index: 5;
}